<div class = "limiter">
    <div class = "container-login">
        <mat-card>
            <div class="mat-elevation-z8">
                <div class="loading-shade" *ngIf="isResultsLoading">
                  <mat-spinner color="accent" *ngIf="isResultsLoading"></mat-spinner>
                </div>
              </div>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <form class="form-container" [formGroup]="authform" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field color="accent">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="authform.controls.email.invalid && authform.controls.email.touched">
                email is required
            </mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="authform.controls.password.invalid && authform.controls.password.touched">
                password is required
            </mat-error>
        </mat-form-field>

        <div>
            <button mat-raised-button [disabled]="!authform.valid" type="submit" color="accent">{{title}}</button>
            <!-- <a class ="btn btn-block forgot-password" (click)="forgotPassHandler()">forgot password</a>  -->
        </div>
       
    </form>
        </mat-card-content>

        <div class = "alternative" *ngIf="title ==='Login'">
            <p>Don't have an Account?</p>
            <button mat-raised-button color="accent" [routerLink]="['/signup']">Signup</button>
        </div>

        <div class = "alternative" *ngIf="title ==='Signup'">
            <p>Have an Account?</p>
            <button mat-raised-button color="accent" [routerLink]="['/login']">Login</button>
        </div>
        </mat-card>

    </div>

</div>
