<mat-card>
<mat-card-title>{{invoice.item}}</mat-card-title>
<mat-card-content>
    <table>
        <tr>
            <td class = "column-title">Date:</td>
            <td>{{invoice.date | date}}</td>
        </tr>
        <tr>
            <td class = "column-title">Due-Date:</td>
            <td>{{invoice.date | date}}</td>
        </tr>
        <tr>
            <td class = "column-title"> Qty:</td>
            <td>{{invoice.qty}}</td>
        </tr>
        <tr>
            <td class = "column-title">Tax:</td>
            <td>{{invoice.tax}}</td>
        </tr>
        <tr>
            <td class = "column-title">Rate:</td>
            <td>{{invoice.rate}}</td>
        </tr>
         <!-- <tr>
            <td class = "column-title">Client Name:</td>
            <td>{{invoice.client.firstname}} {{invoice.client.lastname}}</td>
        </tr>
        <tr>
            <td class = "column-title">Client Email:</td>
            <td>{{invoice.client.email}}</td>
        </tr> -->
        <tr>
            <td class = "column-title">Total:</td>
            <td>$500</td>
        </tr>
    </table>
</mat-card-content>

<mat-card-actions>
    <button mat-button [routerLink] ="['/invoice-builder','invoices',invoice._id]">Edit</button>
    <button mat-button>Download</button>
</mat-card-actions>
</mat-card>