<div class = "limiter">
    <div class = "container-login">
        <mat-card>
            <div class="mat-elevation-z8">
                <div class="loading-shade" *ngIf="isResultsLoading">
                  <mat-spinner color="accent" *ngIf="isResultsLoading"></mat-spinner>
                </div>
              </div>
            <mat-card-title>Forgot Password</mat-card-title>
            <mat-card-content>
                <form class="form-container" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field color="accent">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched">
                email is required
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent">Submit</button>
    </form>
        </mat-card-content>
        



        
        </mat-card>

    </div>
</div>

